body {
    width: 33%;
}
#res {
    height: 48px;
    background-color: lightgray;
    border: solid;    
    font-size: 20px;
}
#btns > .btn {
    font-size: 18px;
    width: 25%;
    height: 36px;
    margin 0px;
    float: left;
}
#btn0, #btn1 {
    background-color: lightgreen;
    color: brown;
}
#btnClr, #btnEql {
    background-color: darkgreen;
    color: white;
}
#btnSum, #btnSub, #btnMul, #btnDiv {
    background-color: black;
    color: red;
}