html, body {
	background-color: #F7F8E0;
	height: 100%;
}
.flex-container {
	height: 100%; 
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center; 
	display: -moz-box;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
}
.btns {	
	margin: 3px;
	font-weight: bold;
	background-color: #E0F8E0; 
	text-align: center;
	color: tomato;
}